footer{
    background-color: #333;
    color: white;
    width: 100%;
    margin: 0 auto;
}
.leftFooter{
    color:#A0A3A3;
}
.bottom{
    display:flex;
    margin-top: 30px;
}
.bottom p {
    margin-top: 10px;
}
.row{
    display:flex;
}
.col{
    padding: 15px;
    width: 100%;
}
.col ul{
    list-style-type: none;
}
.col ul li{
    margin-bottom: 20px;
    display: flex-inline;
}
.col ul li a{
    text-decoration: none;
    color: #00C4C4;
}
.w-15{
    width: 15%;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.rightFooter{
    margin-top: 15px;
}
