*{
    font-family: Arial, Helvetica, sans-serif;
}
.hero_image{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    justify-content: center;
    top: 0px;
    padding: 50px;
    height: 600px;
    position: relative;
    background-image: url("../images/IMG_0679.jpeg");
    background-size: cover;
    background-position: center;
}

.hero_image h1{
    font-size: 400%;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
    margin: 250px 0 auto;
}

.hero_image h2{
    margin: 15px 0 auto;
    text-align: uppercase;
    text-align: center;
    color:#eee;
}

h1.global{
    text-align: center;
}


#userPfp-right{
    float: left;
    max-width: 90%px;
    width: 200px;
    padding: 5%;    
    margin-bottom: 20px;
}

#usrReview-right {   
    display: flex;
    align-items: flex-start; /* Align items to the start of the cross axis (top) */
    justify-content: center; /* Center items horizontally */
}

#review-booking-right{
    display: block;
    max-width: 200px;
    width: 200px;
    margin-right: 10px; /*adds some spacing between the image and the text*/
    text-align: center;
}

 #review-text-right{
    padding-left: 10px;
}

#review-text #rev-footnote{
    font-size: 0.9em !important;
    font-style: italic !important;
}

#review-bubble {
    border-radius: 45px;
    padding: 10px;
    outline: 5px solid lightgrey;
    background-color: white;
    display: block; /* Change display to block to allow margin auto */
    max-width: 90%; /* Add a max-width to prevent overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    margin: 0 auto; /* Center horizontally by setting left and right margins to auto */
    margin-top: 6%;
}

#reviews-body{
    background-image: url("../images/pexels-markusspiske-175407.jpg");
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}






#userPfp-left {
    float: right;
    max-width: 200px;
    width: 200px;
    padding: 5%;
    margin-bottom: 20px;
    margin-left: 10px; /* Add some spacing between the image and the text */
  }
  
  #usrReview-left {
    display: flex;
    align-items: flex-start; /* Align items to the start of the cross axis (top) */
    justify-content: center; /* Center items horizontally */
  }
  
  #review-booking-left {
    display: block;
    max-width: 200px;
    width: 200px;
    text-align: center;
  }
  
  #review-text {
    padding: 10px; /* Add some spacing between the text and the image */
  }

  #rev-booking-link{
    outline: 3px solid teal;
    background-color: rgb(240, 235, 235);
    padding: 15px;
    border-radius: 15px;
  }

  #review-intro {
    text-align: center;
    background-color: white;
    padding: 2%;
    outline:  6px solid lightgrey;
  }

  #intro-container{
    padding-top: 3%;
  }
  
  