.hero_image{
    position: absolute;
    /*z-index: 1;*/ /*This needs to be removed for the fade to work*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    justify-content: center;
    top: 0px;
    padding: 50px;
    height: 600px;
    position: relative;
    background-image: url("../images/IMG_0679.jpeg");
    background-size: cover;
    background-position: center;
}

.hero_image h1{
    font-size: 400%;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
    margin: 250px 0 auto;
}

.hero_image h2{
    margin: 15px 0 auto;
    text-align: uppercase;
    text-align: center;
    color:#eee;
}

h1.global{
    text-align: center;
}

#usrReview_1{
    outline: 2px solid red; /*This is for "debugging" where the div is and how it's behaving*/

    padding: 30px;
}

#userPfp{
    float: left;
    max-width: 90%;
    width: 200px;
    margin-right: 10px; /* adds some spacing between the image and the text*/

}

#main-bookingImg1{
  display: inline-block;
  width: 400px;
  padding: 50px;
  position: relative;
  z-index: 1;
  bottom: 100px;
}

#main-bookingImg2{
    display: inline-block;
    width: 400px;
    padding: 50px;
    position: relative;
    z-index: 1;
    bottom: 100px;
}

#main-bookingImg3{
    display: inline-block;
    width: 400px;
    padding: 50px;
    position: relative;
    z-index: 1;
    bottom: 100px;
}
