*{
    margin:0;
    padding:0;
}
.container{
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    background:#eeeeee;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.container a{
    text-decoration: none;
    color:black;
    box-shadow: 2px 2px 6px #eee;
}
.box:hover{
    box-shadow: 3px 3px 7px #cac9c9;
}
.box img{
    width: 100%;
}
.box h1{
    color: #834545;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.box h2{
    margin-top: 15px;
    color: white;
    font-size: 18px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
.box p{
    padding-bottom: 20px;
    color: #525252;
}
.home-booking-button{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #008080;
}
.home-booking-button h1{
    padding-top:5px;
    color:white;
}
.Fishing img{
    height: 170px;
}
.Shooting img{
    height: 170px
}
.aboutContainer{
    justify-content: center;
    margin-top: 50px;
    display: flex;
}
.aboutContainer img{
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 10px;
}
.textContainer{
    display:flex;
    flex-direction: column;
}
.textContainer h1{
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
}
.textContainer p{
    font-size: 1.3em;
    padding-bottom: 20px;
    width: 80%;
    margin-left:40px;
    text-align: center;
}
.merch{
    margin-top:30px;
}