.hero_image{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    justify-content: center;
    top: 0px;
    padding: 50px;
    height: 600px;
    position: relative;
    background-image: url("../images/IMG_0679.jpeg");
    background-size: cover;
    background-position: center;
}

.hero_image h1{
    font-size: 400%;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
    margin: 250px 0 auto;
}

.hero_image h2{
    margin: 15px 0 auto;
    text-align: uppercase;
    text-align: center;
    color:#eee;
}
.weenar{
    width:75px;
}