*{
    margin:0;
    padding:0;
}
.container{
    position:relative;
    width: 100%;
    height: auto;
    margin: 240px auto;
}
.box{
    position: relative;
    width: 200px;
    height: 400px;
    background:#000;
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;

}