*{
    margin:0;
    padding:0;
}
.container{
    position:relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    background:#eee;
    text-align: center;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.container a{
    text-decoration: none;
    color:black;
    box-shadow: 2px 2px 6px black;
}
.box:hover{

}
.hunting img{
    width: 100%;
}
.hunting h1{
    padding-bottom: 3px;
    text-transform: uppercase;
}
.hunting p{
    padding-bottom: 20px;
    font-size: 0.7em;
}
.home-booking-button{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: teal;
}
.home-booking-button h1{
    padding-top:5px;
    color:white;
}
